<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" @click="getUrl">Получить код</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            getUrl() {
                axios.post('/api/access-key').then(response => {
                    window.location = response.data
                    let code = new URL(window.location).searchParams.get("code");
                    this.$store.dispatch('setCodeAccess', code)
                }).catch(e => console.log(e));
            },
        }
    }
</script>

<style lang=scss scoped>
    div.container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>