<template>
    <div class="container">
        <Menu/>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="inputIdUser">Введите id пользователя</label>
                    <input type="text" v-model="idUser" placeholder="Введите id пользователя" class="form-control"
                           @keyup.enter="getDataUser"
                           id="inputIdUser"
                           aria-describedby="inputIdUser"
                    >
                </div>
                <button type="submit" class="btn btn-primary" @click="getDataUser">Получить данные</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Menu from './Menu'

    export default {
        props: ['dialog'],
        components: {Menu},
        data() {
            return {
                idUser: null,
                count: '',
                dialogModal: true
            }
        },
        watch: {
            dialogModal() {
                this.$emit('statusDialog', false)
            }
        },
        methods: {
            getDataUser() {
                let code = new URL(window.location).searchParams.get("code");
                this.dialogModal = false;
                this.$emit('statusLoader', true);
                axios.post(`/api/get/user/${this.idUser}?code=${code}`)
                    .then(response => {
                        console.log('e', response);
                        this.$store.dispatch('setUsers', response.data.friends.items);
                        this.count = response.data.friends.count;
                        this.$emit('statusLoader', false)
                    }).catch(e => console.log(e));
            }
        }
    }
</script>

<style lang=scss scoped>

    div.container {
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;

        label {
            font-weight: bold;
        }
    }

</style>
