<template>
    <v-card>
        <Menu/>
        <UsersData/>
        <Modal/>
    </v-card>
</template>

<script>
    import Menu from './Menu'
    import UsersData from "./UsersData";
    import Modal from "./Modal";

    export default {
        components: {Modal, UsersData, Menu},
        name: "MainContainer"
    }
</script>

<style scoped>
    @font-face {
        font-family: "Roboto";
        src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    body {
        font-family: 'Roboto', sans-serif;
    }

</style>