<template>
    <div id="menu">
        <v-toolbar class="bg-info" style="color: white;height: 62px;">
            <v-toolbar-title>
                <img
                        style="background: white;border-radius: 50%;"
                        width="50px"
                        height="50px"
                        src="../assets/images/vk_logo.png"
                        alt=""/>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <!--<v-btn style="color: white;" flat>Друзья</v-btn>-->
                <!--<v-btn style="color: white;" flat>Фотографии</v-btn>-->
                <!--<v-btn style="color: white;" flat>Видеозаписи</v-btn>-->
                <v-btn icon @click="dialog = true">
                    <v-icon style="color: white;">update</v-icon>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-dialog
                v-model="dialog"
                max-width="300">
            <v-card>
                <GetUser :dialog="dialog" @statusDialog="statusDialog" @statusLoader="statusLoader"/>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import GetUser from './GetUser'

    export default {
        components: {
            GetUser
        },
        name: "Menu",
        data() {
            return {
                loader: false,
                dialog: false
            }
        },
        methods: {
            statusDialog(value) {
                this.dialog = value
            },
            statusLoader(value) {
                this.loader = value
            }
        }
    }
</script>

<style scoped>

</style>