<template>
    <div class="modal form__balance fade" id="user-data" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 30px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-main">
                    <p><code>{{this.user}}</code></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                user: {}
            }
        },
        created() {
            window.addEventListener('user_data', e => this.user = e.detail);
        },
        computed: {
            ...mapGetters({
                users: 'getUsers'
            })
        },
    }
</script>

<style scoped>

</style>