<template>
    <div class="justify-content-center w-75" style="margin: 0 auto;" v-if="users.length">
        <v-card-title>
            <span class="hadline">Друзья</span>
            <v-spacer></v-spacer>
            <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                v-if="users.length"
                dark
                :headers="headers"
                :items="users"
                :loading="true"
                :search="search"
                :pagination.sync="pagination"
                class="elevation-1">
            <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
            <template slot="items" slot-scope="props">
                <tr style="max-height: 60px">
                    <td class="text-xs-center">
                        <div class="image-container-for-table">
                            <v-avatar v-if="props.item.photo_200_orig"
                                      :size="130"
                                      color="grey lighten-4"
                                      class="mt-2 mb-2">
                                <img  data-toggle="modal" data-target="#user-data" @click="userData(props.item)" :src="props.item.photo_200_orig" alt="">
                            </v-avatar>
                        </div>
                    </td>
                    <td class="text-xs-center">{{ props.item.id }}</td>
                    <td class="text-xs-center">{{ props.item.domain }}</td>
                    <td class="text-xs-center">{{ props.item.first_name }}</td>
                    <td class="text-xs-right">{{ props.item.last_name }}</td>
                    <td class="text-xs-center">{{ props.item.sex }}</td>
                    <td class="text-xs-center">{{ props.item.country.title + ', ' + props.item.city.title }}</td>
                    <td class="text-xs-center">{{ props.item.online === 0 ? 'No' : 'Yes'}}</td>
                </tr>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
            </v-alert>
            <div class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
        </v-data-table>
        <!--<div class="text-xs-center pt-2" v-if="users.length">-->
        <!--<v-pagination style="color: black;" v-model="page" :length="pages"></v-pagination>-->
        <!--</div>-->
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "UsersData",
        data() {
            return {
                pagination: {},
                search: '',
                loader: false,
                page: 1,
                pages: 5,
                headers: [
                    {text: 'Фото', align: 'center', value: 'photo', sortable: false},
                    {text: 'ID', align: 'center', value: 'id', sortable: false},
                    {text: 'Домен', align: 'center', value: 'domain', sortable: false},
                    {text: 'Имя', align: 'center', value: 'first_name', sortable: false},
                    {text: 'Фамилия', align: 'center', value: 'last_name', sortable: false},
                    {text: 'Пол', align: 'center', value: 'sex', sortable: false},
                    {text: 'Страна/Город', align: 'center', value: 'country_city', sortable: false},
                    {text: 'Online', align: 'center', value: 'online', sortable: false},
                ],
            }
        },
        created() {
            console.log(this.users)
        },
        computed: {
            pages() {
                if (this.pagination.rowsPerPage == null ||
                    this.pagination.totalItems == null
                ) return 0

                return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
            },
            ...mapGetters({
                users: 'getUsers'
            })
        },
        methods: {
            userData(user) {
                window.dispatchEvent(new CustomEvent('user_data', {detail: user}))
            }
        }
    }
</script>

<style lang="scss">
    .theme--light.v-pagination .v-pagination__item--active {
        background: #1867c0 !important;
    }

    .image-container-for-table {
        width: 150px;
        height: 150px;
        margin: 10px auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        img:hover{
            cursor: pointer;
        }
    }


</style>